.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

label {
    font-size: 22px;
}

.right-box {
    width: 800px;
    height: 200px;
    overflow: hidden;               /*чтобы не двигался глав синий контейнер*/
    padding: 150px;
    background-color: rgb(160, 245, 245);
    border: 1px solid rgb(134, 212, 214);

    position: absolute;
    top: 20%;
    right: 100px;
}

.right-box h2 {         /*глав текст в синим контейнере*/
    color: rgb(232, 125, 244);
}

.container p {
    color: rgb(100, 206, 116);
}

.right-box {
    word-wrap: break-word;      /*делит длинные текста, если слишком длинные*/
}

.right-box {
    font-size: 18px;
}

.average {
    margin-left: 40px;
    margin-top: 550px;
    font-size: 24px;
}

.average2 {
    margin-right: 500px;
    margin-top: 25px;
    font-size: 20px;
}

.right-box h2 {
    font-size: 26px;
}

.right-box th,
.right-box td {
    font-size: 22px;
}

body {
    font-family: "Patrick Hand", cursive;
}

.right-box {
    font-family: "Baloo 2", cursive;
}

.container {                                        /*текст главного контейнера*/
    color: rgb(52, 124, 240);
}

.right-box td {
    color: rgb(117, 117, 193);
}