.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

label {
    font-size: 22px;
}

.right-box {
    width: 800px;
    padding: 300px;
    background-color: aqua;
    border: 1px solid black;

    position: absolute;
    top: 20%;
    right: 100px;
}

.right-box {
    word-wrap: break-word;
}